.badge {
    height: 100%;
    width: 20%;
    display: flex;
    flex-flow: column;
    justify-content:center;
    align-items: center;
    
    .Top{
      height: 27%;
      width: 100%;
    }

    .Middle {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60%;
      width: 100%;

      .myName {
        align-items: center;
        display: flex;
        font-size: 1.6rem;
        flex-flow: row wrap;
        justify-content:center;
        
        ul {
          display: flex;
          flex-flow: column ;

          li.nome {
          width: 10px;
          list-style: none;
          transition: 0.4s ;
        }
          li:hover {
            transform: translatex(10px);
            transition: 0.4s;
          }
        }
        
        

        ul::before {
          box-sizing: content-box;
          content: "";
          display: flex;
          position: fixed;
          background-color: rgb(0, 0, 0);
          color: rgb(0, 0, 0);
          
          height: 10rem;
          width: 2px;
  
          transform: translate(-10px,-2rem);
        }
        ul::after {
          display: block;
          content: "Desenvolvedor Front-End";
          color: rgb(0, 0, 0);
          font-size: small;
          transform: translatex(15px);
          height: 1rem;
          width: 9rem;
        }
  
      }
    }
    
    #myPJ {
      align-items: flex-end;
      display: flex;
      font-size: smaller;
      height: 20%;
      width: 100%;
      justify-content: center;
      margin: 2rem;
      
    }
  }