

.principal {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items:flex-start;

  background-color: #000000;
  color: white;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    border-radius: 20px;
    margin-top: 2rem;
;

    height: 90vh;
    width: 90vw;
    border: 1px solid white;
  }
}
