.CenterBar {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;

  height: 100%;
  width: 60%;

  .linguagens {
    display: flex;
    top: 80%;

    height: 70px;

    ul {
      animation: is-carrossel infinte 5s ;
      display: flex;
      height: 50px;
      width: 600px;
      margin: auto auto;

      flex-flow: row wrap;
      justify-content: center;

      list-style: none;
      gap: 1rem;

      border: 1px solid rgb(0, 0, 0);
      border-radius: 40px;
    }
  }
}